.container {
  min-width: 508px;
}

.status {
  display: flex;
  flex-direction: row;
}

.numberAndDate {
  display: grid;
  column-gap: 36px;
}

.list {
  list-style-type: none;
  min-width: 272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.numberReady {
  color: #00CCCC;
}

/*.list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin-top: 100px;
  max-width: 584px;
  height: 532px;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.mainSauce {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 14px;
}
  
.order {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 40px;
}

.cost {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.bun {
  display: flex;
}


.main::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}

.main::-webkit-scrollbar-thumb {
  width: 8px;
  background: #8585AD;
}*/