.section {
  padding-top: 40px;
}

.ingredient_container {
  max-width: 600px;
  height: 584px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.menu {
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
}

.ingredient_container::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}

.ingredient_container::-webkit-scrollbar-thumb {
  width: 8px;
  background: #8585AD;
}