.header {
  background-color: #1C1C21;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 26px 0 26px 20px;
}

.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 49px;
  margin: 0;
  padding-left: 0;
}

.header__link {
  display: flex;
  text-decoration: none;
  column-gap: 8px;
  color: #8585AD;
}

.header__logo {
  margin-left: 152px;
  margin-right: 311px;
}

.link_active {
  color: #F2F2F3;
}